* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list_of_products {
    /* width: 90%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.one_product {
    background-color: rgb(244, 236, 225);
    border: 1px solid rgb(212, 204, 193);
    border-radius: 10px;
    max-width: 250px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.one_product:hover {
    background-color: blanchedalmond;
}

.item_title {
    font-size: 20px;
    color: rgb(82, 42, 42);
    text-align: center;
}

.item_title:hover {
    color: brown;
    font-size: 22px;
}

img {
    max-width: 250px;
    height: 150px;
    margin: 15px 0;
}

.item_description {
    color: rgb(71, 17, 17);
    margin-bottom: 15px;

}

.item_description:hover {
    color: brown;
}

.item_price {
    color: rgb(71, 17, 17);
    font-weight: bold;
    transition: all 1s;
}

.item_price:hover {
    color: brown;
    font-size: 18px;
}